:root{
--color-accent: #2196F3;
--header-color: #212121;
--second-logo-color: #FFFFFF;
--first-tittle-color: #FFFFFF;
--second-tittle-color: #212121;;
--first-btn-color: #FFFFFF;
--second-btn-color: #212121;
--first-text-color: #757575;
--second-text-color: #FFFFFF;
--footer-background-color: #2F303A;
--team-background-color: #F5F4FA;
--hero-background-color : #2F303A;
--background-color: #FFFFFF;
--typical-gap: 10px;
}

* {
    box-sizing: border-box;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
ul,ol {
    margin: 0;
    padding-left: 0;
}
img{
display: block;

}

.container{
    width: 1200px;
    padding-left: 200px;
    padding-right: 200px;
    margin: 0 auto;
    outline: 2px solid red;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}
 
.list {
    list-style: none;
}

.link{
    text-decoration: none;
}
.ul {
    list-style: none;
}

a{
text-decoration: none;
}
a{
    font-style: normal;
}

.logo-accent{
    color: var(--color-accent);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
   /*--HEADER-- */
.header{
    background-color:  var(--background-color);
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-color);
   }

.header-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-tittle-color);
  } 
.header-link:hover,
.header-link:focus {
    color: var(--color-accent);
  }


 /*--HERO-- */
 .hero{
    background-color: var(--hero-background-color);
    padding-top:  200px;
    padding-bottom: 200px;
    
}
.hero-tittle{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--first-tittle-color);

    margin-bottom: 30px;
  }
.hero-btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-decoration: none;
    text-align: center;
   
    color: var(--first-btn-color);

    background-color:var(--color-accent) ;
    border: 1px solid var(--color-accent);
    border-radius: 4px;
    min-width: 200px;
    padding: 10px 32px;
}

 /*--ADVANTAGES-- */
 .advantages{
    padding-top:  94px;
    padding-bottom: 94px;

 }
.advantages-tittle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-tittle-color);

    margin-bottom: var(--typical-gap);
}

.advantages-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}
 /*--JOB-- */
 .job{
    padding-bottom: 94px;
}
.job-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-tittle-color);

    margin-bottom: 50px;
}
 /*--TEAM-- */
 .team{
    background-color: var(--team-background-color);
    padding-top:  94px;
    padding-bottom: 94px;
}
.team-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-tittle-color);

    margin-bottom: 50px;
}
.team-item{
    width: 270px;
    height: 368px;
    border: 1px solid #000;
}
.team-img{
    margin-bottom: 30px;
}
.team-post-tittle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-tittle-color);

    margin-bottom: var(--typical-gap);
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}
/*--examples-- */
 
.examples{
    padding-top: 94px;
    padding-bottom: 34px;
}
.examples-btn{
    font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   background: var(--first-tittle-color);
   cursor: pointer;
}
.examples-list{
    display: flex;
    justify-content: center;
}

.examples-btn-act,
.examples-btn:hover,
.examples-btn:focus {
    color: var(--first-btn-color);
    background-color: var(--color-accent);
}
/*--projects-- */
.projects{
    padding-bottom: 94px;
}
.projects-img{
    margin-bottom: 20px;
}
.projects-item{
    width: 370px;
    height: 404px;
    border: 1px solid #000;
}
.projects-post-tittle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-tittle-color);

    margin-bottom: 4px;
}
.projects-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}
.projects-post-tittle:hover,
.projects-post-tittle:focus{
    color: var(--color-accent);
}

/*--FOOTER__*/
.footer{
    background-color:var(--footer-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-logo-color);
    
    margin-bottom: 20px;
}
/*--CONTACTS-- */
.contacts-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.contacts-maps{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);

    margin-bottom: 9px;
}
.contacts {font-weight: 500;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
}
.contacts:hover,
.contacts:focus {
    color: var(--color-accent);
   
}
.contacts-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--first-tittle-color);

    margin-bottom: 9px;
  }